/* Main css for entire */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1,
h2 {
    color: #460C68;
    font-size: 70px;
    letter-spacing: 2px;
    font-family: 'Shadows Into Light', cursive;
    padding-top: 30px;
    padding-bottom: 30px;
}

body {
    background-color: #D5F5E3;
    font-family: 'Space Grotesk', sans-serif;
}

/* navigation */
#navbar li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}

#navbar,
h1 {
    line-height: 65px;
}

/* a  */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    border-bottom: 1px solid black;
    width: 10%;
    margin: 0 auto;
}

/* images */
.pics {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

    width: 100%;
    overflow: hidden;
}

@keyframes pic-zoom {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.08);
    }
}

#cork-pic {
    background: url('../images/cork-city.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#food-pic {
    background: url('../images/shrimp-burger.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#market-pic {
    background: url('../images/market-pic.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#display {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.pics div {
    animation-name: pic-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


#restaurant {
    background: url('../images/restaurant.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#sports {
    background: url('../images/sports.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#nightlife {
    background: url('../images/nightlife.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#exploring {
    background: url('../images/exploring.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#coqbull1 {
    background: url('../images/coqbull1.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#coqbull2 {
    background: url('../images/coqbull2.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#lab1 {
    background: url('../images/lab1.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#lab2 {
    background: url('../images/lab2.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#jacks1 {
    background: url('../images/jacks1.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#jacks2 {
    background: url('../images/jacks2.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#ballyhass1 {
    background: url('../images/ballyhass1.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#ballyhass2 {
    background: url('../images/ballyhass2.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#ballyhass3 {
    background: url('../images/ballyhass3.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#trabolgan1 {
    background: url('../images/trabolgan1.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#trabolgan2 {
    background: url('../images/trabolgan2.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#trabolgan3 {
    background: url('../images/trabolgan3.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#perks1 {
    background: url('../images/perks1.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#perks2 {
    background: url('../images/perks2.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#perks3 {
    background: url('../images/perks3.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#reardens1 {
    background: url('../images/reardens1.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#reardens2 {
    background: url('../images/reardens2.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


#voodoo1 {
    background: url('../images/voodoo1.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#voodoo2 {
    background: url('../images/voodoo2.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#yards1 {
    background: url('../images/yards1.png') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#yards2 {
    background: url('../images/yards2.png') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#blarney1 {
    background: url('../images/blarney1.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#blarney2 {
    background: url('../images/blarney2.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#blarney3 {
    background: url('../images/blarney3.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#cliff1 {
    background: url('../images/cliff1.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#cliff2 {
    background: url('../images/cliff2.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#cliff3 {
    background: url('../images/cliff3.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#market1 {
    background: url('../images/market1.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#market2 {
    background: url('../images/market2.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#market3 {
    background: url('../images/market3.jpeg') no-repeat center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.middle {
    text-align: center;
}

hr {
    margin: 60px auto;
    border-top: dotted;
    width: 15%;
    border-width: 5px;
}

br {
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-size: 20px;
    color: #000000;
    width: 66%;
    text-align: center;
    margin: 0 auto;
}

h3 {
    text-align: center;
    line-height: 200px;
    color: #D5F5E3;
    letter-spacing: 2px;
}

h3.text {
    background-color: rgba(0, 0, 0, 0.7);
}


.herebutton {
    color: #810CA8;
}

#title {
    background-color: #BCCEF8;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid black;
}

footer {
    background-color: #BCCEF8;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid black;
    font-size: 50px;
    text-align: center;
}

#map {
    display: flex;
    justify-content: center;
    height: 450px;
    margin: 0 auto;
}

/* Media Queries */

/* From medium to large screens */

@media screen and (min-width: 700px) {


    .pics {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        border: 1px solid black;
    }

    hr {
        margin: 60px auto;
        border-top: dotted;
        width: 5%;
        border-width: 5px;
    }



}